.cards {
    margin: 7% 20px;
    align-content: center;
}

.card {
    width: 300px;
    height: 508px;
    border: 1px solid rgb(211, 201, 201);
    border-radius: 2% 2% 3% 3%;
    transition: 0.5s;
    position: relative;
}

.img-containar {
    margin-top: 2%;
    text-align: center;
}

.card img {
    height: 286px;
    width: 286px;
    border-radius: 2%;
}

.card-info {
    margin: 0px 10px;
    position: relative;
}

.sub-info {
    position: absolute;
}

.card-info h4 {
    margin: 5px 0;
}

.card-info p {
    margin-top: 5px;
}

.name {
    font-size: 21px;
    margin: 0px;
}

.shop-button {
    align-items: center;
}

.shop-btn span {
    margin-right: 7px;
}

.shop-btn {
    /* margin-top: 19px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-color: rgb(192, 182, 182);
    background-color: #FFE0B3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
}

.shop-btn:hover {
    background-color: rgb(239, 68, 68);
    color: white;
    cursor: pointer;
}

.card:hover {
    background-color: #95caee;
}

p {
    margin: 0px;
}

.ratings {
    font-size: smaller;
}